.header {
    margin:0 auto;
    transition: .5s;
    justify-content: center;
}

.navig {
    width: 1310px;
}

.header_filled {
    background: rgba(0,0,0,0.5);
    color: white;
}

.header_filled a {
    color: white;
}

.container-vir {
    margin:0 auto;
    max-width: 1440px;
}

.container-text{
    width:450px;
}

.container {
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 66px;
}

.btn {
    border-radius: 0;
    padding: 10px 25px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

.navig {
    max-width: 1440px;
    margin:0;
}

.navig li {
    padding: 0 15px;

}

#ulik {
    text-align: left;
    margin-left:100px;
}

/* --- БЛОК 2 --- */

.blok2 {
    background: #F3F3F3;
    height: 390px;
}

.block2_cont {
    width: 600px;
}

.blok2-content {
    text-align: left;
}

.blok2-content h2{
    font-size: 40px;


}
.block2_cont {
    margin:75px 15%;
}

/* --- ПОДВАЛ --- */

footer {
    background: #F3F3F3;
    list-style:none;
}

.footer_1 {
    width: 300px;
}

.footer_1 p {
    margin: 20px 0;
}

.footer_block {
    display: flex;
    justify-content: space-between;
     padding: 25px;
}

.footer-info{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #878787;

}

footer ul{
   list-style:none;

}

footer h4{
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    margin-left:30px;
}

/* --- РЕГИСТРАЦИЯ --- */

.reg{
    justify-content:center;
    align-items: center;
    display: flex;
}

.reg table tr {
    display: grid;
}

form input {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #F0F0F0;
}

label {
    text-transform: uppercase;
    margin-top: 25px;
}

#but {
    margin-top: 25px;
    width: 250px;
    background: #FFC801;
    text-transform: uppercase;
    transition: .2s;
}

#but:hover {
    background: #C09E21;
}

#button {
    display: flex;
    justify-content:center;
    align-items: center;

}

.reigis {
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.size {
    height: 69vh;
}

.registration  {
    display: grid;
    width: 500px;
}

.registration p {
    display: grid;
}

.helptext {
    font-size: 12px;
}

#link {
    text-align: center;
    margin-top: 15px;
}

#link a {
    color: #385A64;
    text-decoration: none;
}

.requests_admin table{
    border: solid 1px black;
}

.requests_admin table tr td{
    border: solid 1px black;
}

/*------------------------------*/

.main {
    padding: 100px;
    height: 65vh;
    margin-top: 50px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    padding: 10px;
    margin: 10px;
    border:1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
}

#container img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

#container-text {
    height: 300px;
    align-items: center;
    display: flex;
}

#text {
    flex-direction: column;
}

.container-text-sec {
    display: flex;
    justify-content: space-between;
}

.app {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    width: auto;
    align-items: center;
}

.requests {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    margin: 40px 0;
}

.request {
    background: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.request img {
    width:350px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.req_text {
    width: 65%;
}

.request h5 {
    text-align: center;
}

#id_text {
    height: 200px;
}

.cat_box {
    font-weight: bold;
}

textarea {
    resize: none;
}

.req_cont {
    height: 70%;
}


@media screen and (max-width: 1200px) {
  .requests {
    width: 100%;
  }
  .request {
    margin: 5px;
    width: 250px;
  }

  .request img {
    width: 220px;
  }

  .start-img img{
    width: 100%;
  }
}@media screen and (max-width: 900px) {
  .requests {
    overflow: scroll;
  }
   .block2_cont {
    width: 400px;
   }
}