{% extends "base_generate.html" %}
{% load static %}
{% block content %}


    <table>
        <tr>
            <td>Тип заявки</td>
            <td>Время подачи заявки</td>
            <td>Описание заявки</td>
            <td>Имя пользователя</td>
            <td>Фамилия пользователя</td>
            <td>ID пользователя</td>
        </tr>
        {% for req in articles %}
        <tr>
                <td>{{req.type}}</td>
                <td>{{req.datetime}}</td>
                <td>{{req.text}}</td>
                <td>{{req.person.first_name}}</td>
                <td>{{req.person.last_name}}</td>
                <td>{{req.person.id}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="requests_admin">
      <form method="get">
        <button type="submit" class="btn btn-sm btn-primary btn-raised mr-3">Сортировать</button>
        <input name="sort" type="checkbox" value="datetime" {{ by_datetime }}>по дате
        <input name="sort" type="checkbox" value="type" {{ by_type }}>по типу
    </form>
</div>
{% endblock %}